body {
    margin: 0px;
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    background-image: linear-gradient( to bottom right, rgb(255, 228, 140), rgb(255, 233, 162), rgb(237, 217, 255),rgb(129, 77, 175));
    background-repeat: no-repeat;
}

h1 > a {
    text-decoration: none;
    color: white;
}

h2 {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

/* Input styling */
input, textarea {
    width: 80%;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px;
    border: solid 1px rgb(194, 194, 194);
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.btn {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(186, 24, 201);
}

.btn:hover {
    cursor: pointer;
}

.error {
    display: block;
    background-color: rgba(250, 6, 6, 0.5);
    border: solid 1px red;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

.loading {
    display: block;
    width: fit-content;
    margin: 10px auto;
}

/* Single page */
.singlePage {
    background-color: rgb(230, 209, 233);
}

.singlePage > div {
    display: block;
    margin: auto;
    padding: 20px 0px;
    width: 80vw;
    max-width: 1200px;
}